 body {
     background-color: #0F1014;
     font-family: Poppins;
 }

 .row img {
     width: 100px;
     height: 100px;
 }

 .form-control {
     background-color: #000000;
     color: #ffffff;
     border: 1px solid #444444;
 }

 .form-control:focus {
     background-color: #000000;
     color: #ffffff;
     border-color: #0d6efd;
     box-shadow: 0 0 0 0.2rem #0d6efd40;
 }

 .form-control::placeholder {
     color: #aaaaaa;
     opacity: 1;
 }

 .form-label,
 .form-check-label {
     color: #ffffff;
 }

 .signup {  
     margin-left: 250px;
     padding-top: 20px;
 }

 .signup .bannerform {
     background: linear-gradient(135deg, #0f2027, #203a43, #010e13);
     border-radius: 12px;
     padding: 20px;
     border: 1px solid #ffffff1a;
     color: #fff;
     height: 520px;
     margin-left: 100px;
 }

 .signup input:hover {
     border-color: #0366fc;
 }

 .signup h4 {
     color: #ffffff;
     text-align: center;
     margin-top: 0px;
 }

 .signup p {
     color: #ffffff;
     text-align: center;
     margin-top: 0px;
 }

 .eyeicon1 {
     position: absolute;
     top: 45px;
     right: 20px;
     cursor: pointer;
     color: #ccc;
     z-index: 10;
 }

 .eyeicon2 {
     position: absolute;
     right: 20px;
     cursor: pointer;
     color: #ccc;
     z-index: 10;
 }


 .mailicon {
     position: absolute;
     padding-top: 100px;
     left: 15px;
     transform: translateY(-50%);
     color: #ccc;
     pointer-events: none;
     font-size: 1rem;
 }

 .eyeicon {
     position: absolute;
     padding-top: 100px;
     right: 15px;
     transform: translateY(-50%);
     color: #ccc;
     cursor: pointer;
     font-size: 1rem;
 }

 .btn-primary {
     color: #1565C0;
     background-color: #fff;
     font-weight: 700;
     font-size: 17px;
     border-color: #1565C0;
     border-radius: 5px;
     border-width: 2px;
     padding: 2px 60px;
 }

 .btn-primary:hover {
     color: #fff;
     font-family: Poppins;
     background-color: #1565C0;
     border-color: #fff;
 }

 .signup .exist p {
     font-size: 13px;
 }

 .signup .exist a {
     font-size: 14px;
 }
